<div class="panel panel-info">
  <div class="panel-heading">
    <h4>Answer This Question</h4>
  </div>
  <div class="panel-body">
    <form>
      <div class="form-group">
        <label for="author">Author:</label>
        {{input value=answerAuthor id="answerAuthor"}}
      </div>

      <div class="form-group">
        <label for="text">Answer text:</label>
        {{input value=answerText id="answerText"}}
      </div>

      <div class="form-group">
        <label for="sources">Info sources:</label>
        {{input value=answerSources id="answerSources"}}
      </div>

      <button class="btn" {{action 'saveAnswer'}}>Post</button>
      <button class="btn" {{action 'clear'}}>Clear</button>
    </form>
  </div>
</div>
