<div class="panel panel-info">
  <div class="panel-heading">
    <h4>Ask a New Question</h4>
  </div>
  <div class="panel-body">
    <form>
      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="author"}}
      </div>

      <div class="form-group">
        <label for="text">Question text:</label>
        {{input value=text id="text"}}
      </div>

      <div class="form-group">
        <label for="notes">Additional notes:</label>
        {{input value=notes id="notes"}}
      </div>

      <button {{action 'save'}}>Post</button>
      <button {{action 'clear'}}>Clear</button>
    </form>
  </div>
</div>
