<div class="col-sm-6">
  <h3>{{model.author}} asks: {{model.text}}</h3>
  <p>Additional info: {{model.notes}}</p>

  {{edit-question updateQuestion='updateQuestion' question=model}}
  <hr>
  <h4>Answers:</h4>
  {{#each model.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</div>
<div class="col-sm-offset-2 col-sm-4">
  {{new-answer saveAnswer='saveAnswer' question=model}}
</div>
