<h4>{{model.author}} asks:</h4>
<h4>{{model.text}}</h4>
<p>Additional info: {{model.notes}}</p>

{{new-answer saveAnswer='saveAnswer' question=model}}

<h4>Answers:</h4>
{{#each model.answers as |answer|}}
  {{answer-tile answer=answer}}
{{/each}}
